.card {
  max-width: 400px;
  min-width: 400px;
  margin: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: 'center';
  text-align: center;
}

h2 {
  margin: 30px;
}

.spinner {
  margin: auto;
}

.table {
  max-width: 700px;
  margin: auto;
}